<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>数据结构(D3.js)-排序</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.0/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/codemirror@5.42.0/lib/codemirror.css"
    >
    <link 
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/codemirror@5.42.0/theme/darcula.css"
    >
    <style>
      .CodeMirror {
        border: 1px solid #eee;
        height: auto;
      }

      .breadcrumb {
        padding: 0px;
        background: 0px;
      }
    </style>
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/d3@5.7.0/dist/d3.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/codemirror@5.42.0/lib/codemirror.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/codemirror@5.42.0/mode/javascript/javascript.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.5/dist/vue.js"></script>
    <script src="./Sorter.js"></script>
    <script src="./SelectionSorter.js"></script>
    <script src="./InsertionSorter.js"></script>
    <script src="./ShellSorter.js"></script>
    <script src="./MergeSorter.js"></script>
    <script src="./QuickSorter.js"></script>

    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <form id="app">
            <div class="form-group">
              <label>数据</label>
              <textarea class="form-control" rows="3" v-model="seriesInput"></textarea>
            </div>
            <div class="form-group">
              <label for="exampleInputFile">预览</label>
              <p>
                <template v-for="item in series">
                  <span class="label label-info">{{item}}</span>&nbsp
                </template>
              </p>
            </div>
            <button type="button" class="btn btn-default" @click="randomSeriesInput">随机生成</button><br>
            <div class="form-group" style="position: relative;height: 150px;">
              <div v-for="(item,i) in selectionSnapshot"
                :style="{
                  position: 'absolute',
                  bottom: 0,
                  background: item.isLess ? 'orange' : item.isExch ? 'blue' : '#17c0b2',
                  color: '#ffffff',
                  width: '15px',
                  left: i * 30 + 'px',
                  'padding-top': item.value + 'px',
                  height: (17 + item.value) + 'px'
                }"
              >
                {{item.value}}
              </div>
            </div>
            选择排序

            <div class="form-group" style="position: relative;height: 150px;">
              <div v-for="(item,i) in insertionSnapshot"
                :style="{
                  position: 'absolute',
                  bottom: 0,
                  background: item.isLess ? 'orange' : item.isExch ? 'blue' : '#17c0b2',
                  color: '#ffffff',
                  width: '15px',
                  left: i * 30 + 'px',
                  'padding-top': item.value + 'px',
                  height: (17 + item.value) + 'px'
                }"
              >
                {{item.value}}
              </div>
            </div>
            插入排序

            <div class="form-group" style="position: relative;height: 150px;">
              <div v-for="(item,i) in shellSnapshot"
                :style="{
                  position: 'absolute',
                  bottom: 0,
                  background: item.isLess ? 'orange' : item.isExch ? 'blue' : '#17c0b2',
                  color: '#ffffff',
                  width: '15px',
                  left: i * 30 + 'px',
                  'padding-top': item.value + 'px',
                  height: (17 + item.value) + 'px'
                }"
              >
                {{item.value}}
              </div>
            </div>
            希尔排序

            <div class="form-group" style="position: relative;height: 150px;">
              <div v-for="(item,i) in mergeSnapshot"
                :style="{
                  position: 'absolute',
                  bottom: 0,
                  background: item.isLess ? 'orange' : item.isExch ? 'blue' : '#17c0b2',
                  color: '#ffffff',
                  width: '15px',
                  left: i * 30 + 'px',
                  'padding-top': item.value + 'px',
                  height: (17 + item.value) + 'px'
                }"
              >
                {{item.value}}
              </div>
            </div>
            归并排序

            <div class="form-group" style="position: relative;height: 150px;">
              <div v-for="(item,i) in quickSnapshot"
                :style="{
                  position: 'absolute',
                  bottom: 0,
                  background: item.isLess ? 'orange' : item.isExch ? 'blue' : '#17c0b2',
                  color: '#ffffff',
                  width: '15px',
                  left: i * 30 + 'px',
                  'padding-top': item.value + 'px',
                  height: (17 + item.value) + 'px'
                }"
              >
                {{item.value}}
              </div>
            </div>
            快速排序

            <div class="form-group">
              <input type="range" :max="maxIndex" min="0" step="1" v-model="snapshotIndex">
            </div>
            <button type="button" class="btn btn-default" @click="play">播放</button>
          </form>
        </div>
      </div>
    </div>

    <script>
      var selectionSorter = new SelectionSorter()
      var insertionSorter = new InsertionSorter()
      var shellSorter = new ShellSorter()
      var mergeSorter = new MergeSorter()
      var quickSorter = new QuickSorter()

      var app = new Vue({
        el: '#app',
        data: {
          seriesInput: '',
          series: [],
          selectionSorterSnapshots: [],
          insertionSorterSnapshots: [],
          shellSorterSnapshots: [],
          mergeSorterSnapshots: [],
          quickSorterSnapshots: [],
          snapshotIndex: 0
        },
        computed: {
          maxIndex () {
            return Math.max(
              this.selectionSorterSnapshots.length,
              this.insertionSorterSnapshots.length,
              this.shellSorterSnapshots.length,
              this.mergeSorterSnapshots.length,
              this.quickSorterSnapshots.length
            ) - 1
          },
          selectionSnapshot () {
            return this.getSnapshot(this.selectionSorterSnapshots, this.snapshotIndex)
          },
          insertionSnapshot () {
            return this.getSnapshot(this.insertionSorterSnapshots, this.snapshotIndex)
          },
          shellSnapshot () {
            return this.getSnapshot(this.shellSorterSnapshots, this.snapshotIndex)
          },
          mergeSnapshot () {
            return this.getSnapshot(this.mergeSorterSnapshots, this.snapshotIndex)
          },
          quickSnapshot () {
            return this.getSnapshot(this.quickSorterSnapshots, this.snapshotIndex)
          }
        },
        watch: {
          seriesInput () {
            this.series = this.seriesInput.split(',')
            this.snapshotIndex = 0

            var series = this.series.map(function (d) {
              return new CompareableValue(Number(d))
            })

            selectionSorter.clearSnapshots()
            selectionSorter.sort(series)
            this.selectionSorterSnapshots = selectionSorter.snapshots

            series = this.series.map(function (d) {
              return new CompareableValue(Number(d))
            })

            insertionSorter.clearSnapshots()
            insertionSorter.sort(series)
            this.insertionSorterSnapshots = insertionSorter.snapshots

            series = this.series.map(function (d) {
              return new CompareableValue(Number(d))
            })

            shellSorter.clearSnapshots()
            shellSorter.sort(series)
            this.shellSorterSnapshots = shellSorter.snapshots

            series = this.series.map(function (d) {
              return new CompareableValue(Number(d))
            })

            mergeSorter.clearSnapshots()
            mergeSorter.sort(series)
            this.mergeSorterSnapshots = mergeSorter.snapshots

            series = this.series.map(function (d) {
              return new CompareableValue(Number(d))
            })

            quickSorter.clearSnapshots()
            quickSorter.sort(series)
            this.quickSorterSnapshots = quickSorter.snapshots
          }
        },
        methods: {
          randomSeriesInput () {
            var seriesInput = ''
            this.snapshotIndex = 0
            window.clearInterval(this._interval)

            for (let i = 0; i < 40; i++) {
              seriesInput += ~~(Math.random()*100)
              if (i < 39) {
                seriesInput += ','
              }
            }

            this.seriesInput = seriesInput
          },
          play () {
            this.snapshotIndex = 0

            var self = this
            window.clearInterval(this._interval)
            this._interval = window.setInterval(function () {
              self.snapshotIndex++
              if (self.snapshotIndex === self.maxIndex) {
                window.clearInterval(self._interval)
              }
            }, 10)
          },
          getSnapshot (snapshots, index) {
            if (snapshots && snapshots.length) {
              if (index >= snapshots.length) {
                index = snapshots.length - 1
              }

              var snapshot = snapshots[index]

              return snapshot.array
            }
            return []
          }
        },
        mounted () {
          this.randomSeriesInput()
        }
      })
    </script>
  </body>
</html>

<!-- <script>
  var array = [5, 2, 3, 4].map(
    function (d) {
      return new CompareableValue(d)
    }
  )

  document.writeln(
    new SelectionSorter().sort(
      array
    ).map(function (d) {
      return d.value
    })
  )
</script> -->
<!-- 26 6 25 43 46 32 -->